<launch>
  <!-- Declare the USB port parameter -->
  <arg name="serial_port" default="/dev/ttyUSB1" />

  <!-- Run your Python script with the specified serial port parameter -->
  <node name="robot_controller" pkg="robot_controller" type="laser_Avoidance.py" output="screen">
    <param name="serial_port" value="$(arg serial_port)" />
  </node>
</launch>
